* {
    box-sizing: border-box;
}
.body-container {
    background: url(../img/unsplash.png) no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    font-family: Verdana, serif;
    color: #BEBEBE;
    
}
a {
    text-decoration: none;
}
.clearfix::after {
    content: "";
    clear: both;
}
.header {
    height: 54px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 14px 71px 14px 61px;
}
.header-logo {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    transition: 0.5s;
    display: inline-block;
}

.header-logo:hover {
    color: #3CB878;
}
.navbar {
    float: right;
}
.navigation {
    display: inline-block;
    border-right: 1px solid #707070;
}
.icon { 
    display: inline-block;
    position: relative;
    background: url('../img/sprites.png') no-repeat;
    margin-right: 21px;
}
.navigation-link-calendar {
    background-position: 0 -100px;
    width: 20px;
    height: 19px;
}
.navigation-link-calendar:hover {
    background-position: 0 -80px;
}
.navigation-link-forum {
    background-position: 0 -20px;
    width: 28px;
    height: 20px;
}
.navigation-link-forum:hover {
    background-position: 0 0;
}
.navigation-link-journey {
    background-position: 0 -60px;
    width: 20px;
    height: 20px;
}
.navigation-link-journey:hover {
    background-position: 0 -40px;
}
/*REGISTRATION*/
.registration {
    color: #ffffff;
    position: relative;
    display: inline-block;
    margin-left: 15px;
}
.registration-link {
    color: #49BD81
}
.registration-link:hover {
    text-decoration: underline;
}


/*FORM*/
.journey {
    background: #ffffff;
    border-radius: 5px;
    height: 584px;
    width: 444px;
    padding: 28px 60px;
    position: relative;
    transform: translate(-50%, -50%);
    position: absolute; 
    top: 50%; 
    left: 50%;
}
.form-decoration {
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: 0;
    top: 28px;
}
.form-top {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    
}
.sign-button {
    color: #434343;
}
.log-button {
    font-size: 0.8em;
    float: right;
    display: inline-block;
    color: #3CB878;
}
.log-button:hover {
    border-bottom: 1px solid #49BD81;
}

.social-button {
    display: inline-block;
    padding: 13px;
    font-size: 16px;
    height: 47px;
    width: 158px;
    margin-top: 20px;
    border-radius: 3px;
    position: relative;
}
.social-facebook {
    background: #305DB8;
}
.social-facebook:hover {
    background-color: #264B96;
}
.social-google {
    background: #DF4A32;
    float: right;
}
.social-google:hover {
    background-color: #C3412C;
}
.social-icon {
    padding: 0 10px;
}
.social-link {
    color: #fff;
    text-decoration: none;
    border-left: 1px solid rgba(112, 112, 112, 0.55);
    height: 25px;
    position: absolute;
    padding: 0 25px;
/*    vertical-align: middle !important;f ПОЧЕМУ-ТО НЕ РАБОТАЕТ*/
    
}

.line {
    position: relative;
    text-align: center; 
    margin: 30px 0 20px;
}
.line::before, .line::after {
    content: "";
    position: absolute;
    background-color: #EAEAEA;
    width: 135px;
    height: 1px;
    top: 10px;
}
.line::before {
    content: "";
    left: 0;
}
.line::after {
    content: "";
    right: 0;
}

.form-inner input {
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    width: 322px;
    height: 47px;
    margin-bottom: 7px;
    padding-left: 14px;
    font-size: 14px;
    color: #BEBEBE;
    display: inline-block;
    cursor: pointer;
    
}
.form-inner input:focus {
    box-shadow: 0 5px 5px rgba(47, 47, 47, 0.17);
    outline: none;
    bottom: 4px;
}

.terms-conditions-link {
    font-size: 14px;
}


.form-inner label {
    font-size: 14px;
    color: #434343;
    position: relative;
}
#checkbox {
    width: 16px;
    height: 16px;
    visibility: hidden;
    margin-top: 10px;
/*    cursor: pointer;*/
}

label::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    left: -25px;
    margin-top: 10px;
}
input[type="checkbox"]:checked + label:before {
    content: "";
    background: url('../img/ic-checkbox.png') no-repeat;
    background-position: center;
    cursor: pointer;
}


.terms-conditions-link {
    color: #3CB878;
    font-size: 14px;
}
.terms-conditions-link:visited {
    color: #3CB878;
}
.terms-conditions-link:hover {
    border-bottom: 1px solid #3CB878;    
}


.submit-button {
    margin-top: 21px;
    background-color: #3CB878;
    width: 322px;
    height: 46px;
    border-radius: 3px;
    border: transparent;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #329A65;
}


























